.grid-layout {
    border: 1px solid #3091c9;
    background-color: #dbf2ff;
    min-width: 100%;
    min-height: 85vh;
    padding: 15px
}

.grid-layout .grid-layout-row {
    border: 1px solid #e3a871;
    background-color: #facfa7;
    min-height: 10vh;
    padding: 15px;
    margin-bottom: 15px;
}

/* .grid-layout-row:not(:first-child) {
    margin-top: 15px
} */

.grid-block {
    border: 1px solid #6bd1a4;
    background-color: #8ef5c8;
    padding: 15px;
    min-height: 100px;
    overflow: auto;
    resize: horizontal;
}

.grid-layout-container {
    width: 65vw;
}

.grid-layout .grid-blocks-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.grid-layout .grid-block-position-relative, .grid-layout .grid-layout-row, .grid-layout .grid-layout-row .grid-block {
    position: relative;
}

.grid-layout .grid-block-position-relative {
    padding-top: 5%;
}

.grid-layout .portal-tabs-btn, .grid-layout .grid-layout-btn-remove {
    position: absolute;
}

.grid-layout .portal-tabs-btn-settings {
    right: 0px;
}

.grid-layout .grid-layout-btn-add-row {
    min-height: 10vh;
}

.grid-layout .grid-layout-btn-add.ant-btn-icon-only {
    font-size: 40px !important;
}

.grid-layout .grid-layout-btn-remove {
    right: -15px;
    top: -10px;
}

.grid-layout .grid-block .grid-layout-btn-remove {
    right: 5px;
    top: 5px;
    z-index: 1
}