.grid-layout {
  padding-left: 15px;
}


.grid-block {
  padding-right: 15px;
  min-height: 100px;
  overflow: auto;
  resize: horizontal;
  box-sizing: border-box;
}

.grid-block-template {
  resize: none;
}

.grid-layout .grid-blocks-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.grid-layout .grid-layout-btn-add.ant-btn-icon-only {
  font-size: 40px !important;
}

.grid-layout .grid-layout-btn-remove {
  right: -15px;
  top: -10px;
}

.grid-layout .grid-block .grid-layout-btn-remove {
  right: 5px;
  top: 5px;
  z-index: 1;
  max-width: 20px !important;
  min-width: 15px !important;
  height: 20px;
  font-size: 10px !important;
}
.grid-layout .grid-layout-row {
  margin-top: 15px;
}

.grid-layout .grid-layout-row .grid-block .widget-weather .widget-full-weather {
  text-transform: uppercase;
  color: white;
}

.grid-layout .grid-layout-row .grid-block .widget-weather {
  background-color: #6495ED;
  padding: 20px;
}

.grid-layout .grid-layout-row .grid-block .styles_simpleReactWeather__3uy4l {
  font-size: 20px;
  min-height: 0px !important
}

.grid-layout .grid-layout-row .grid-block .grid-block-position-relative {
  height: 90%;
}
.grid-layout .grid-layout-row .grid-block .grid-block-position-relative {
  background: #ffffff;
}