.g_schedule_header {
    display: inline-flex;
    padding: 10px;
}
.g_schedule_icon {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 23px;
    color: white;
    background: #003489;
    border-radius: 50%;
}
.g_schedule_title {
    font-size: 20px;
    padding: 5px 15px;
    font-weight: bold;
    color: #003489;
}

