.btn-grid-type, .btn-tab-type {
    height: 80px;
    width: 80px;
    margin: 15px 20px;
}
.input-name {
    display: inline-flex;
    font-weight: bold;
}

.btn-type {
    font-weight: bold;
    margin-top: 20px;
}