.category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.add-category {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.add-category > span{
  margin-right:  10px;
}
.item-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.item-block.width {
  justify-content: initial;
  width: 10%;
}
.item-block.flex-end{
  justify-content: flex-end;
  width: 20%;
}
.item-block > input {
  width: 85%;
}
.item-block > span[role='img'] {
  margin-left: 10px;
}
.infor-category{
  margin-bottom: 10px;
  width: 100%;
}
.category-detail {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.title {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
}
.input-text-custome > input {
  width: 95%;

}
