.html-widget-index-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.portal-tabs-layout .portal-tabs-btn-settings.html-settings-button,
.grid-layout .portal-tabs-btn-settings.html-settings-button {
  top: 16px;
  right: 16px;
}