.html-widget-index-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.portal-tabs-layout .portal-tabs-btn-settings.html-settings-button,
.grid-layout .portal-tabs-btn-settings.html-settings-button {
  top: 6px;
  right: 6px;
}