.margin-bottom-20 {
  margin-bottom: 20px;
}

.html-wrapper {
  border: 1px solid #C4C4C4;
  padding: 5px;
  border-bottom: none;
}

.html-header {
  display: flex;
  border-bottom: 1px solid #C4C4C4;
  padding: 0px -10px;
  margin: 0px -5px;
  padding-bottom: 5px;
  padding-left: 5px;
  position: relative;
  height: 45px;
}

.padding-5 {
  padding: 5px;
}

.right-5 {
  right: 5px !important;
}

.html-header .icon {
  font-size: 25px;
  margin-right: 5px;
  width: 35px;
}
.align-vertical {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.title {
  font-size: 25px;
  left: 5%;
}
