.kuc-table {
  width: 100%;
}

.kuc-input-text {
  width: 100%;
}

.portal-tabs-layout .portal-tabs-btn {
  position: absolute;
  z-index: 1;
}

.portal-tabs-layout .portal-tabs-btn-sub {
  top: 10px;
  right: 13px;
}

.portal-tabs-layout .portal-tabs-btn-add {
  top: 10px;
  right: 55px;
}

.portal-tabs-layout .portal-tabs-btn-edit-name {
  top: 10px;
  right: 95px;
}

.portal-tabs-layout .portal-tabs-btn-settings {
  right: 30px;
}

.portal-tabs-layout .kuc-tabs-tabs {
  min-width: 98%;
}

.portal-tabs-layout .kuc-tabs-tab-contents {
  min-height: 85vh;
  line-height: unset;
}

.portal-tabs-layout .kuc-tabs-tab-list .kuc-tabs-container {
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.portal-tabs-layout .kuc-tabs-tab-contents .styles_simpleReactWeather__3uy4l {
  font-size: 30px;
}

.portal-tabs-layout .kuc-tabs-tab-contents .styles_simpleReactWeatherCity__zyECF {
  padding-top: 10px
}

.portal-tabs-layout .kuc-tabs-tab-contents .widget-weather {
  background-color: #6495ED;
  padding: 3%;
  min-height: 85vh;
}

.portal-tabs-layout .kuc-tabs-tab-contents .widget-weather .widget-full-weather {
  text-transform: uppercase;
  color: white;
}