.portal-container {
  display: flex;
  height: 100%;
}

.portal-list-container {
  width: 15%;
  min-width: 173px;
  border-right: 1px solid #C4C4C4;
}

.portal-list-container .portal-list-item button {
  margin-right: 5px;
}

.portal-list-container .portal-list-item .ant-typography {
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.portal-preview {
  width: 70%;
  min-width: 500px;
}

.portal-preview .portal-tabs-layout {
  position: relative;
}

.portal-preview .portal-tabs-layout .portal-tabs-add {
  position: absolute;
  top: 10px;
  right: 13px;
  z-index: 1;
}

.widget-list-container {
  width: 15%;
  min-width: 177px;
  border-left: 1px solid #d8d5d5;
}

.portal-list-item {
  width: 100%;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.portal-list-item:hover {
  cursor: pointer;
  /* background-color: #C4C4C4; */
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #C4C4C4 !important;
}

.ant-menu-item {
  margin: 0 !important;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none !important;
}

.sidebar-add-btn {
  padding-left: 10px;
}